{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="signup-form">
    <form action="{% url 'project_create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Create Project</h2>
      <p>Please fill in this form to create an account!</p>
      <hr>
      <div class="form-group">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Project Title" required="required">
      </div>
      <div class="form-group">
        <input type="textarea" class="form-control" name="project_desc" placeholder="Project Description" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="url" placeholder="Project URL" required="required">
      </div>
      <div class="form-group">
        <input type="file" class="form-control" name="icon" placeholder="Project Icon" required="required">
      </div>
      <div class="form-group">
        <input type="file" class="form-control" name="image" placeholder="Project Image" required="required">
      </div>

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Create Project</button>
      </div>
    </form>
  </div>
</div>



{% endblock %}
